<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="First Suite">
	<test thread-count="5" name="First Test">
		<classes>
			<class name="tests.AndroidTest"/>
			<class name="tests.WebTest"/>
		<!--	<class name="tests.APITest"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
